__pycache__
.DS_Store
git.html
*.hocr
~*
strategic-*
credentials.json
token.pickle

src/batch_kyoto01/tmp/
src/batch_kyoto01/Local State
src/batch_kyoto01/chrome_debug.log
tmp2
tmp3

curations

Profile*
Chrome*